

    <div class="row py-4 text-center bg-primary text-light mt-3">
        <div class="col">
            <h4 class="fw-300">Get Huge Savings on Medicines</h4>
            <div class="d-flex justify-content-center mb-1">
                <div class="p-2"><i class="bi bi-check-circle-fill"></i> 100 % Genuine Medicines</div>
                <div class="p-2"><i class="bi bi-check-circle-fill"></i> Trusted Pharmacies</div>
                <div class="p-2"><i class="bi bi-check-circle-fill"></i> Delivery to your doorstep</div>
                <div class="p-2"><i class="bi bi-check-circle-fill"></i> Store Pick up</div>
              </div>
        </div>
    </div>
    <!-- search Box -->

    <div class="row w-75 text-center m-auto  card shadow Search-box" style="height: 50px" >
        <div class="input-group  rounded">
            <button class="btn text-primary dropdown-toggle w-20 "  type="button" data-bs-toggle="dropdown" aria-expanded="false">Pincode</button>
            <input type="text" class="form-control" aria-label="username" aria-describedby="addon-wrapping" style="height: 49px">
            <button class="btn text-primary " type="button" id="inputGroupFileAddon04"><i class="bi bi-search"></i> Search</button>
        </div>
    </div>

<!-- img -->
<div class="container mt-2 py-3">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="png">
      </div>
</div>


<app-top-deals></app-top-deals>






